CF_PAGES_BRANCH=local
CF_PAGES_COMMIT_SHA=unknown
PUBLIC_API_BASE=https://api.v3.badger.worldwidepixel.ca/
PUBLIC_FRONTEND_BASE=https://v3.badger.worldwidepixel.ca/
ORIGIN=https://v3.badger.worldwidepixel.ca node ./build/index.js
