@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--badger-background: #ffffff;
		--badger-background-secondary: #fafafa;
		--badger-text: #000000;
		--badger-border: #e5e7eb;
	}

	:root[class~="dark"] {
		--badger-background: #0b0d0e;
		--badger-background-secondary: #161b1d;
		--badger-text: #ffffff;
		--badger-border: #21292c;
	}
}

* {
	border-color: var(--badger-border);
}

html {
	background-color: var(--badger-background);
	color: var(--badger-text);
}

.designGrid {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
}

.v-popper--theme-badger-ui .v-popper__inner {
	background-color: var(--badger-background-secondary);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-radius: 0.5rem;
	border-style: solid;
	border-width: 1px;
}
