@import 'tailwindcss';

@theme {
	--color-badger-red: #ff125e;
	--color-badger-orange: #ff8e31;
	--color-badger-green: #00e54a;
	--color-badger-blue: #047eff;
	--color-badger-violet: #6900ff;

	--color-badger-background: #ffffff;
	--color-badger-background-secondary: #fafafa;
	--color-badger-background-transparent: #0d0e1207;
	--color-badger-text: #0d0e12;
	--color-badger-text-primary: #000000;
	--color-badger-border: #e5e7eb;

	--default-font-family: 'Inter Variable';
}

.dark {
	--color-badger-background: #0b0d0e;
	--color-badger-background-secondary: #161b1d;
	--color-badger-background-transparent: #ebecf407;
	--color-badger-text: #e1e2ea;
	--color-badger-text-primary: #ffffff;
	--color-badger-border: #21292c;
}

@layer utilities {
	* {
		@apply border-badger-border tracking-tight select-none;
		scrollbar-color: var(--color-badger-red) #00000000;
	}
	html {
		@apply bg-badger-background text-badger-text h-full max-h-[100vh];

		body {
			@apply h-full;
		}
	}
	h1 {
		@apply text-badger-text-primary flex flex-row flex-wrap items-center gap-2 text-3xl font-bold;
	}
	h2 {
		@apply flex flex-row flex-wrap items-center gap-2 text-2xl font-bold;
	}
	h3 {
		@apply flex flex-row flex-wrap items-center gap-2 text-xl font-semibold;
	}
	hr {
		@apply w-full;
	}
	[badger] {
		@apply !bg-badger-background-secondary/80 !text-badger-text-primary pointer-events-none flex flex-col items-center !rounded-lg text-sm font-semibold shadow-xl backdrop-blur-lg dark:shadow-2xl;
		.tip:before {
			@apply !border-b-badger-background-secondary;
		}
	}
	.tooltip-slot {
		@apply !flex !h-fit !w-fit;
	}
}
